<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Pakka {{ deck_name }}</h2>

<ul>
<li>Tekijä: {{ creator }}
<li>Kortteja: {{ size }} kpl
</ul>

{% if session.user_id %}
<p><a href="/play/{{ id }}">Aloita</a></p>

<ul>
<li>Oikein vastattuja: {{ correct }}
<li>Väärin vastattuja: {{ total-correct }}
</ul>

{% endif %}
{% if reviews %}
<h3>Arviot</h3>
{% endif %}

<ul>
{% for entry in reviews %}
<li> {{ entry[0] }} ({{ entry[1] }}/5): "{{ entry[2] }}"
{% endfor %}
</ul>

{% if session.user_id %}
</p>
<h3>Jätä arvio pakasta:</h3>
<label>
<input type="range" min=1 max=5 name="arvosana">
</label><br>
<form action="/review" method="post">
<p>Kommentti:<br>
<textarea name="comment" row="3" cols="40" maxlength="1000"></textarea>
</p>
</form>
<form action="/pakka">
    <input type="submit" value="Lähetä">
</form>
{% endif %}
{% endblock %}


