<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<hr>
<img src="/static/Lippu.png" alt="Lippu">
<h2>Etusivu</h2>
<hr>
<h2>こんにちは!</h2>
<p>
Japania sovelluksen avulla voit harjoitella Japanin kielen alkeita. Sovelluksessa on saatavilla materiaaleja, sekä harjoituksia. Hauskoja opiskelu hetkiä!
</p>
<hr>
<h3>Materiaaleja:</h3>
<ul>
    <li> <a href="/hiraganat_ja_katakanat">Hiraganat ja katakanat</a>
    <li> <a href="/sanastoa">Sanastoa</a>
</ul>
<h3>Harjoitukset:</h3>
<ul>
    <li> <a href="/pakka">Tähän tulee harjoituksia</a>
</ul>
{% endblock %}



