<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<hr>
<h2>Luo uusi tunnus</h2>
<p>
    Käyttäjätunnus: <br><input type="text" name="username" placeholder="esim. Maija"> <br>
    Salasana: <br><input type="password" name="password" placeholder="esim. S4gl583vYT"> <br>
    Salasana uudestaan: <br><input type="password" name="password" placeholder="esim. S4gl583vYT"> <br>
</p>
<p>
    Status: 
    <select name="status">
    <option value1=>oppilas
    <option value2=>opettaja
    </select> 
</p>
<form action="/">
    <input type="submit" value="Luo tunnus">
</form>
{% endblock %}
